<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link rel="stylesheet" href="stylesheets/login.css" />
  </head>
  <style></style>
  <body>
    <div class="container">
      <div class="logo">
        <img src="images/pin_logo.png" alt="" />
        <p>PinClone</p>
      </div>

      <div class="page">
        <h3>Log in to Explore Further!</h3>
      </div>
      <% if(error.length > 0){ %>
      <p class="error"><%= error%></p>
      <%}%>
      <form action="/login" method="post">
        <div class="main">
          <div class="main-form">
            <input
              type="text"
              name="username"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Username"
            />
            <input
              type="password"
              name="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>
          <a href="">Forgotten your password?</a>
          <input type="submit" class="btn" value="Log in" />
        </div>
      </form>
      <div class="info">
        <p>
          By proceeding, you consent to abide by PinClone's
          <strong>Terms of Service and Privacy Policy.</strong>
        </p>
      </div>
      <a class="pre-reg" href="/register"
        >Not on PinClone? <strong>Sign up</strong></a
      >
    </div>
  </body>
</html>
